<ion-view>
    <ion-content>
		<a href="/#/restult?tag=aventure">
			<button id="button1" class="button button-block button 1">
				Aventure
			</button>
		</a>
		<a href="/#/restult?tag=princesse">
			<button id="button2" class="button button-block button">
				Princesse
			</button>
		</a>
		<a href="/#/restult?tag=animaux">
			<button id="button3" class="button button-block button">
				Animaux
			</button>
		</a>
		<a href="/#/restult?tag=enfant">		
			<button id="button4" class=" button button-block button">
				Enfants
			</button>
		</a>
    </ion-content>
</ion-view>