<ion-view>
    <ion-content>
		<div class="col-sm-6 col-sm-offset-3" ng-model="videos">
				<div>
					<h1 id="accueil" style="background-color: #{{ color }}">{{ tag }}</h1>	
					<ul class="list-group" style="background-color: #{{ color }}">
						<li class="list-group-item" ng-repeat="videos in videos">
								<a ui-sref="video({ id: videos.id })">
									<div>
									<div class="titre-cat">
										<h5>{{ videos.title }}</h5>
										<h6>Film : {{ videos.movie }}</h6>
									</div>
									<img class="img-cat" src="http://melanie-croce.fr/projets/app-back/public/images/catalog/{{ videos.id }}.jpg" />
									</div>
								</a>
						</li>
					</ul>
				</div>
		</div>
    </ion-content>
</ion-view>