<!--<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


    &lt;!&ndash; compiled css output &ndash;&gt;
    <link rel="stylesheet" href="css/style.css">
    <link href="css/ionic.app.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">

    &lt;!&ndash; ionic/angularjs js &ndash;&gt;
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    &lt;!&ndash; cordova script (this will be a 404 during development) &ndash;&gt;
    <script src="cordova.js"></script>

    &lt;!&ndash; your app's js &ndash;&gt;
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
</head>
<body ng-app="starter">



<div id="bar"class="bar bar-header">

    <label class="item item-input">
        <i  class="icon ion-ios-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
    </label>

</div>-->
<ion-view>
    <ion-content>
        <object width="640" height="390">
            <param name="movie"
                   value="https://www.youtube.com/v/M7lc1UVf-VE?version=3&autoplay=1"></param>
            <param name="allowScriptAccess" value="always"></param>
            <embed src="https://www.youtube.com/v/M7lc1UVf-VE?version=3&autoplay=1"
                   type="application/x-shockwave-flash"
                   allowscriptaccess="always"
                   width="640" height="390"></embed>
        </object>
        <p>Bonjour</p>
    </ion-content>
</ion-view>
<!--
</body>
</html>-->
