
<ion-view>
    <ion-content>
		<div ng-model="videos">
        	<div class="row">
				<iframe ng-src="{{ videos.url | trustAsResourceUrl }}" frameborder="0" class="video"></iframe>
			</div>
        	<h1 class="title" style="background-color: #{{ color }}">{{videos.title}}</h1>
			<button class="button button-light button-fav" style="color: {{ favcolor }};" ng-click="createFav()"><i class="icon ion-star"></i></button>
        	<div class="lyrics">
           		 <pre>{{ videos.lyric }}</pre>
        	</div>
		</div>
    </ion-content>
</ion-view>
