<ion-view>
    <ion-content>
        <div class="row" ng-model="videos.video">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
                <object type="application/x-shockwave-flash" width="640" height="390" data="{{videos.url}}">
                    <param name="movie" value="{{videos.url}}" />
                    <param name="wmode" value="transparent" />
                </object>

                <p>{{videos.title}}</p>

            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </ion-content>
</ion-view>