ion-content{
    margin-top:44px!important;
}


.scroll-content {
    padding: 0px;
    margin: 0px
}

a {
    text-decoration: none!important;
}

/***************************

	BARRE DE NAVIG

***************************/

#bar{
    background-color:#273340;
}

#search{
    text-shadow:1px 1px 1px #1f1e1e,1px 0px 0px #1f1e1e;
}

.bar-search {
    background: transparent!important;
    border: none;
    color: white;
    width: 100%;
}

input[placeholder] {
    color: white !important;
}


/***************************

	PAGE D ACCUEIL

***************************/

#button1{
    background-image: url('../img/titre-aventure.jpg');
    background-color: #8c6c55;
    text-shadow:1px 1px 1px #1f1e1e,1px 0px 0px #1f1e1e,0px 1px 0px #1f1e1e,0px 1px 0px #1f1e1e;
}
#button2{
	background-image: url('../img/titre-princess.jpg');
    background-color:#efb9e9;
    color:white;
    text-shadow:1px 1px 1px #1f1e1e,1px 0px 0px #1f1e1e,0px 1px 0px #1f1e1e,0px 1px 0px #1f1e1e;
}

#button3{
	background-image: url('../img/titre-animaux.jpg');
    background-color:#badcac;
    color:white;
    text-shadow:1px 1px 1px #1f1e1e,1px 0px 0px #1f1e1e,0px 1px 0px #1f1e1e,0px 1px 0px #1f1e1e;
}

#button4{
	background-image: url('../img/titre-enfants.jpg');
    background-color:#f2ef83;
    color:white;
    text-shadow:1px 1px 1px #1f1e1e,1px 0px 0px #1f1e1e,0px 1px 0px #1f1e1e,0px 1px 0px #1f1e1e;
}

.button {
    min-height: 50px!important;
    padding: 40px 0px!important;
    color:white;
    text-transform: uppercase;
    font-size: 2em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	margin: 0!important;
}

/***************************

		PAGE VIDEOS

***************************/

.video {
    margin-left:-5px!important;
    width:100%;
    height:0;
    padding-bottom: 56.25%;
    overflow: hidden;
    position: fixed;


}
.video object{

    margin-left:0px!important;
    width: 100%; height:100%;
    position:absolute;
    top:0; left:0;

}

.lyrics{
    height:400px;
    margin-top:5%;
    overflow:auto;
    margin-left:10px;
    font-family:'Muli', cursive;
}
.title{
    margin-top:59%;
    margin-left:10px;
    font-family:'handlee', bold;
}